.git
.idea
*.code-workspace
node_modules
nbproject
.vscode
tstjs.js
iob_npm.done
ecu copy.js
local-README.md

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt